body {
    background-color: #f2f7ff;
    font-family: 'Nunito Sans', sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(224,228,255,1) 0%, rgba(255,248,239,1) 58%, rgba(255,255,255,1) 93%);
}

img {
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

select {
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
}

textarea {
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
}

input:not(input[type="file"]) {
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(108, 113, 192, 0.2);
}

button:not(.nav-btn) {
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
}

hr {
    color: white
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px
}

tr th {
    color: #ffffff;
}

tr th:first-child{
    border-radius:10px 0 0 10px;
}
  
tr th:last-child{
    border-radius:0 10px 10px 0;
}

tr td {
    color: #7e7e7e;
}

.table td {
    vertical-align: middle;
}

#news-table-data {
    padding: 2% 2%;
    margin-left: 12%;
}

#history {
    padding: 2% 2%;
    margin-left: 12%; 
}

#news-div {
    margin-left: 14%;
    margin-right: 2%; 
}

#user-container {
    display: flex;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.status-select {
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.3 );
}

.card {
    background: rgba( 255, 255, 255, 0.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.0px );
    -webkit-backdrop-filter: blur( 8.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card table {
    padding: 5px 5px;
}

.btn-primary {
    background-color: #5055be;
}

.btn-danger {
    background-color: #dd5e6d;
    border-color: #dd5e6d;
    color: white;
}

.btn-primary:hover {
    background-color: #464aa7;
}

.title {
    color: #5055be;
    font-weight: 1000;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 13%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
    background: #f7f9fa;
    color: rgb(0, 0, 0);
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.title-card {
    background: rgba( 255, 255, 255, 0.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba(167, 167, 167, 0.18);
}

#sidebar .container {
    padding-left: 15%;
    padding-top: 2%;
}

#sidebar ul li {
    transition: 0.3s;
}

#sidebar ul li button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: #2e3175;
    transition: 0.8s;
}

#sidebar ul li:hover {
    background-color: #e6e6e6;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
}

.alert-danger {
    background-color: #dd5e6d;
    border-color: #dd5e6d;;
    color: white;
}

.alert-success {
    background-color: #d4edda;
    color: #427a4f
}

.btn-success {
    background-color: #d4edda;
    border-color: #d4edda;
    color: black
}

.btn-success:hover {
    background-color: #a0d1ab;
    border-color: #a0d1ab;
    color: black
}